@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        padding: 0;
        margin: 0;
}

.btn{
  @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg mt-2
}

.btn.btn-light {
  @apply bg-white text-gray-500
}
 
.btn.btn-danger {
  @apply bg-red-600 text-white shadow-red-400/40
}